.main {
  min-height: 100%;
  background-color: blueviolet;
  padding: 20px 0 200px;
}

.txt--black {
  color: black;
}

.side-block {
  border: 1px solid black;
  float: left;
  max-width: 300px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main-block {
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  margin-left: 330px;
}

.main-block:hover {
  box-shadow: 10px 10px 8px 3px rgba(0, 0, 0, 0.3), -1px -1px 1px 0px rgba(0, 0, 0, 0.7);
  transform: translate(-3px, -3px);
}

.second-block {
  clear: both;
  margin-bottom: 50px;
}

.img-wrap {
  position: relative;
  max-width: 300px;
  width: 100%;
  float: left;
  margin-right: 50px;
}

.img-iphone {
  position: relative;
  width: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.title__phone {
  padding-top: 20px;
  margin-bottom: 20px;
}

.phone-content {
  position: absolute;
  top: 3px;
  z-index: 0;
  padding: 20px;
  left: 5px;
  background-color: white;
  height: calc(100% - 12px);
  width: calc(100% - 10px);
  border-radius: 24px;
}

.phone-content-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin-right: -20px;
}

.clear-both {
  clear: both;
}
